@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
.hide
  display none
.bg
  // background url('http://imgcache.qq.com/music/photo/album_300/46/300_albumpic_654246_0.jpg') no-repeat center center
  // background url('https://raw.githubusercontent.com/lamentchina/tmp3/master/public/cover/141027.png') no-repeat center center
  // background url('https://raw.githubusercontent.com/lamentchina/tmp3/master/public/cover/141028.jpg') no-repeat center center
  // background url('http://imgcache.qq.com/music/photo/album/92/90_albumpic_37392_0.jpg') no-repeat center
  // background url('https://raw.githubusercontent.com/lamentchina/tmp3/master/public/cover/1410301.png') no-repeat right
  // background url('http://pic.yupoo.com/lamentchina/EaM0goiD/medish.jpg') no-repeat center
  // background url('http://img.9sky.com/artist/35434.jpg') no-repeat center
  // background url('http://imgcache.qq.com/music/photo/album_300/71/300_albumpic_1171_0.jpg') no-repeat center
  // background url('http://pic.yupoo.com/lamentchina_v/Ebfl7ck6/Cgs2e.jpg') no-repeat center
  // background url('http://imgcache.qq.com/music/photo/album_300/33/300_albumpic_21233_0.jpg') no-repeat center
  // background url('http://imgcache.qq.com/music/photo/album_300/56/300_albumpic_52356_0.jpg') no-repeat center
  background url('http://imgcache.qq.com/music/photo/album_300/90/300_albumpic_100890_0.jpg') no-repeat center
  // background url('1.jpg') no-repeat center
  filter blur(25px)
  background-size cover
  height 100%
  width 100%
  position absolute
  top 0
  left 0

.container
  // perspective 800px
  position relative
  .cd
    margin 50px auto
    position relative
    height 200px
    width 200px
    border-radius 50%
    .process
      height 204px
      width 204px
      position absolute
      top -2px
      left -2px
      border-radius 50%
    .animate
      animation rotate 8s linear infinite
    .animate-pause
      animation-play-state paused
    .avator
      // background url('http://imgcache.qq.com/music/photo/album_300/46/300_albumpic_654246_0.jpg') no-repeat
      // background url('https://raw.githubusercontent.com/lamentchina/tmp3/master/public/cover/141027.png') no-repeat
      // background url('https://raw.githubusercontent.com/lamentchina/tmp3/master/public/cover/141028.jpg') no-repeat
      // background url('http://imgcache.qq.com/music/photo/album/92/90_albumpic_37392_0.jpg') no-repeat
      // background url('http://pic.yupoo.com/lamentchina/EaDwaLVS/VzejN.jpg') no-repeat
      // background url('http://pic.yupoo.com/lamentchina/EaM0goiD/medish.jpg') no-repeat
      // background url('http://img.9sky.com/artist/35434.jpg') no-repeat center
      // background url('http://imgcache.qq.com/music/photo/album_300/71/300_albumpic_1171_0.jpg') no-repeat center
      // background url('http://pic.yupoo.com/lamentchina_v/Ebfl7ck6/Cgs2e.jpg') no-repeat center
      // background url('http://imgcache.qq.com/music/photo/album_300/33/300_albumpic_21233_0.jpg') no-repeat center
      // background url('http://imgcache.qq.com/music/photo/album_300/56/300_albumpic_52356_0.jpg') no-repeat center
      background url('http://imgcache.qq.com/music/photo/album_300/90/300_albumpic_100890_0.jpg') no-repeat center
      // background url('1.jpg') no-repeat center
      background-size cover
      height 200px
      width 200px
      border-radius 50%
      margin 50px auto
      position relative
      box-shadow 0px 0px 10px rgba(0, 0, 0, 0.44)
      .circle
        border 1px solid #fff
        width 60px
        height 60px
        border-radius 50%
        position absolute
        top 69px
        left 69px
        background-color rgba(255, 255, 255, 0.07)
    .btn-center
      position absolute
      width 26%
      height 26%
      top 37%
      left 37%
      background-color rgba(0, 0, 0, 0.63)
      border-radius 50%
    .btn-play
      display inline-block
      &:before
        content ''
        border-top 10px solid transparent
        border-left 18px solid #fff
        border-bottom 10px solid transparent
        font-size 10px
        border-right 0
        margin-left 6px
        display inline-block
    .btn-pause
      display inline-block
      &:before
        content ''
        border-left 5px solid #fff
        margin-right 5px
      &:after
        content ''
        border-right 5px solid #fff
  .lrcwrap
    display inline-block
    width 100%
    min-height 60px
    padding 2px 0
    position absolute
    top 280px
    text-align center
    transition transform 1s
    transform-style preserve-3d
    .twitter
    .lrcscroll
      position absolute
      top 0
      left 0
      backface-visibility hidden
      width 100%
    .lrcscroll
      height 64px
      overflow hidden
      .lrcbox
        p
          margin 0
          height 30px
          line-height 30px
          color rgba(82, 82, 82, 0.45)
        .current
          color #fff
          text-shadow 1px 1px 1px #000
    .twitter
      min-height 60px
      line-height 30px
      transform rotateY(180deg)
      width 88%
      padding 0 6%
      font-style oblique
      color rgba(31, 30, 30, 0.95)
      text-indent 2em
      text-align left
      max-height 90px
      overflow-y auto
  .flipped
    transform rotateY(180deg)
